@model IEnumerable<Shop.Models.ViewModels.CartItem>

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section specialcss
{
    @Styles.Render("~/Content/cartcss")
}

<div class="row categoryTitle">
    <div class="container">Your Cart</div>
</div>

@using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="cartTableL">Item</th>
                    <th scope="col" class="cartTableS text-center-s">Price</th>
                    <th scope="col" class="cartTableM text-center-s">Quantity</th>
                    <th scope="col" class="cartTableS text-center-s">Total</th>
                    <th scope="col" class="cartTableXS text-center-s"></th>
                </tr>
            </thead>
            <tbody>
                @{double total = 0; }
                @foreach (var item in Model)
                {
                    double pricesum = 0;
                    pricesum += item.Price * item.Quantity;
                    total += pricesum;
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.ProductName)
                            <input type="hidden" value="@item.ProductId" name="productIds" id="productId_@item.ProductId" />
                        </th>
                        <td class="text-center-s">$ @Html.DisplayFor(modelItem => item.Price)</td>
                        <td>
                            <div class="input-group d-flex justify-content-center">
                                <input type="number" step="1" min="1" max="100" value="@item.Quantity" class="quantity-field" name="quantities" id="quantity_@item.ProductId">
                            </div>
                        </td>
                        <td class="text-center-s">@pricesum</td>
                        <td class="text-center-s">
                            @Html.ActionLink("Delete", "RemoveFromCart", new { id = item.ProductId }, new { @class = "btn btn-primary delRow" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Update Cart" class="btn btn-default" />
        <div class="row my-2">
            <div class="col-8"></div>
            <div class="col-4 row cartTotal">
                <div class="col-6">Grand Total</div>
                <div class="col-6">$@total</div>
            </div>
        </div>
        <div class="container my-3">
            <div class="text-right">
                <a href="@Url.Action("Index", "Success")"><button type="button" class="btn checkout-btn">Check out</button></a>
                <a href="@Url.Action("Index", "Home")"><button type="button" class="btn continue-btn">Continue shopping</button></a>
            </div>
        </div>
    </div>

}


