@{
    ViewBag.Title = "Home Page";
}

@model Shop.Models.Product

@section specialcss
{
    @Styles.Render("~/Content/productcss")
}

<div class="container-fluid" id="addCartPopup" onclick="PopupDis()">
    <div>You added a product to your shopping cart</div>
    <div>Tap to close</div>
</div>
<main>
    <div class="container mb-2 pt-2">
        <div class="row">
            <div class="col-7 d-flex justify-content-center">
                <div class="d-flex">
                    <div class="card">
                        <div class="d-flex flex-column thumbnails">
                            <div id="f1" class="tb tb-active"> <img class="thumbnail-img fit-image" src="@Html.DisplayFor(model => model.ImgLink1)"> </div>
                            <div id="f2" class="tb"> <img class="thumbnail-img fit-image" src="@Html.DisplayFor(model => model.ImgLink2)"> </div>
                            <div id="f3" class="tb"> <img class="thumbnail-img fit-image" src="@Html.DisplayFor(model => model.ImgLink3)"> </div>
                            <div id="f4" class="tb"> <img class="thumbnail-img fit-image" src="@Html.DisplayFor(model => model.ImgLink4)"> </div>
                        </div>
                        <fieldset id="f11" class="active">
                            <div class="product-pic"> <img class="pic0" src="@Html.DisplayFor(model => model.ImgLink1)"> </div>
                        </fieldset>
                        <fieldset id="f21" class="">
                            <div class="product-pic"> <img class="pic0" src="@Html.DisplayFor(model => model.ImgLink2)"> </div>
                        </fieldset>
                        <fieldset id="f31" class="">
                            <div class="product-pic"> <img class="pic0" src="@Html.DisplayFor(model => model.ImgLink3)"> </div>
                        </fieldset>
                        <fieldset id="f41" class="">
                            <div class="product-pic"> <img class="pic0" src="@Html.DisplayFor(model => model.ImgLink4)"> </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="product-info">
                    <div class="product-name mb-3"><h4>@Html.DisplayFor(model => model.Name)</h4></div>
                    <div class="product-brand mb-3"><h4>@Html.DisplayFor(model => model.Brand)</h4></div>
                    <div class="product-price mb-3"><h4>$ @Html.DisplayFor(model => model.Price) USD</h4></div>
                    <div>
                        @*<div class="d-flex mb-3">Quality</div>*@
                        <div class="d-flex align-items-center">
                            @*<input type="text" name="qty" id="qty" value="1" class="input-qty">*@
                            <button type="button" class="btn category-btn" onclick="addCartBtnPop()">@Html.ActionLink("Add to Cart", "AddToCart", new { controller = "Cart", id = Model.Id }, new { @class = "btn category-btn" })</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs my-3" id="productTab" role="tablist">
            <li class="nav-item productTableBorder">
                <a class="nav-link active productTable" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="true">Details</a>
            </li>
            <li class="nav-item productTableBorder">
                <a class="nav-link productTable" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Information</a>
            </li>
            <li class="nav-item productTableBorder">
                <a class="nav-link productTable" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active px-4" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                <span class="text-capitalize">@Html.Raw(Model.Description)</span>
            </div>
            <div class="tab-pane fade px-4" id="info" role="tabpanel" aria-labelledby="info-tab">
                <span class="text-capitalize">@Html.Raw(Model.Info)</span>

            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="container row">
                    <h4 class="mb-2 w-100 customerReviewTitle">Customer Review</h4>
                    <div class="mb-2 col-12 row">
                        <div class="col-3">
                            <div class="reviewBox">
                                <b>4.7</b>
                                <span>out of 5</span>
                            </div>
                            <div class="d-flex justify-content-center my-3">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <table class="text-left">
                                <tr>
                                    <td>5 stars</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>4 stars</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>3 stars</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>2 stars</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1 star</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </td>
                                    <td>0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 row">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="img/resource/def_face.jpg" class="img img-rounded img-fluid w-75" />
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <strong>Jannette Antonetty</strong>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p>Nice quality, apply evenly. Some are a bit sheer but most have no issues</p>
                                        <p>
                                            <a href="#customerReviews" class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                            <a class="float-right btn text-white btn-danger like-btn"> <i class="fa fa-heart"></i> Like</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="img/resource/def_face.jpg" class="img img-rounded img-fluid w-75" />
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <strong>Selina Davenport</strong>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p>This my first set and I love them. There is such a variety that it’s easy to gram exactly what I need.</p>
                                        <p>
                                            <a href="#customerReviews" class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="img/resource/def_face.jpg" class="img img-rounded img-fluid w-75" />
                                    </div>
                                    <div class="col-10">
                                        <p>
                                            <strong>Tonia Burnette</strong>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                            <span class="float-right"><i class="fa fa-star"></i></span>
                                        </p>
                                        <div class="clearfix"></div>
                                        <p>Very nice</p>
                                        <p>
                                            <a href="#customerReviews" class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-2 w-100 customerReviewTitle">Your Review</h4>
                    <div class="col-12 row">
                        <div class="container my-2">
                            <span id="rateMe" class="empty-stars"></span>
                        </div>
                        <form class="w-100">
                            <input type="text" class="w-100 customerReviews" name="customerReviews" id="customerReviews" placeholder="Write your review here...">
                        </form>
                        <div class="col-12 d-flex justify-content-end mt-2">
                            <a href="success.html"><button type="button" class="btn post-btn">Post</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{
    <script>
        function addCartBtnPop() {
            var popUpA = document.getElementById("addCartPopup");
            if (popUpA.style.display = "none") {
                popUpA.style.display = "block";
            }
        }
    </script>
    <script>
        function PopupDis() {
            var popUpD = document.getElementById("addCartPopup");
            if (popUpD.style.display = "block") {
                popUpD.style.display = "none";
            }
        }
    </script>
    @Scripts.Render("~/bundles/product")
}